.event-details{
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

.event-details__line{
    flex-shrink: 0;
    width: 0.5rem;
    background-color: var(--color-blue-600);
    border-radius: var(--border-radius-md);
}

.event-details__content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}