.event{
    width: 100%;
    display: block;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    color: var(--color-text-dark);
    text-align: left;
    background-color: transparent;
    border-radius: var(--border-radius-md);
    border: 0;
    padding: 0.125rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    /* opacity: 0.85; */



}

.event--filled{
    background-color: var(--event-color);
    color: var(--color-text-light);

}

.event--dynamic{
    position: absolute;
    /* top: 12.5%;
    right: 0;
    bottom: 75%;
    left: 0; */
    width: unset;
    border: 1px solid var(--color-white);
    white-space: unset;
    overflow: unset;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.event__color{
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 0.5rem;

    /* width: 0.5rem; */
    height: 0.5rem;
    background-color: var(--event-color);
    margin-right: 0.25rem;
    
}

.event--filled.event__color{
    display: none;
}
.event__time{
    display: none;
}
.event--dynamic .event__time{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.sub-event{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    color: var(--color-text-light);
    text-align: left;
    background-color: var(--event-color);
    border-radius: var(--border-radius-md);
    /* padding: 0.125rem 0.5rem; */
    margin-bottom: 0.25rem;
    left: 0%;
    right: 0%;
    flex-direction: column;



    text-overflow: hidden;
    overflow: hidden;

}
.sub-event--travel{
    background-color: var(--travel-time-color);
    border: 1px solid white;
    flex-direction: row;

}
.sub-event--work{
    background-color: var(--work-time-color);
    border: 1px solid white;
    flex-direction: row;
    

}
.sub-event--pause{
    background-color: var(--pause-time-color);
    border: 1px solid white;
    flex-direction: row;


}
.sub-event--title{
    display: flex;
}
.sub-event--hours{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}