@font-face {
    font-family: Symbols;
    src: url(../../fonts/websymbols-regular-webfont.woff);
}


.toaster{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: calc(100vw-2rem);

    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    /* pointer-events: none; */
}

.toast{
    /* font-weight: 500;
    color:var(--color-text-light);
    padding: 0.5rem 1rem;*/

    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-md);
    animation: toast-in var(--duration-md) ease, toast-out var(--duration-md) ease var(--duration-2xl);

    display: flex;
    flex-direction: row;
    background-color: var(--color-white);

}

.toast .toast-icon{
    border: none;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transform: scale(1.3);
    z-index: 0;

}
.toast--error .toast-icon{
    color: var(--color-red-600);
}
.toast--success .toast-icon{
    color: var(--color-green-600);
}

.toast-message{
    display: flex;
    height: 100%;
    border-radius: var(--border-radius-sm);
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;

}
.toast-message--error{
    border-left: 0.25rem solid var(--color-red-600);
    /* border-right: 0.25rem solid red; */  /*SI BOTON DE CERRADO A LA DERECHA*/ 

}
.toast-message--success{
    border-left: 0.25rem solid var(--color-green-600);
    /* border-right: 0.25rem solid red; */  /*SI BOTON DE CERRADO A LA DERECHA*/ 

}


.fa-xmark{
    display: flex;
    color: var(--brown);
    cursor: pointer;
    padding-left: 1rem;
    transform: scale(1.3);
    transition: 300ms;

}
.fa-xmark:hover{
    color: var(--color-gray-500);
    transform: scale(1.4);



}


.toast--error{
    /* background-color: var(--color-red-600); */
    /* background-color: var(--color-white); */
    border: 0.25rem solid var(--color-red-600);
}
.toast--success{
    /* background-color: var(--color-green-600); */
    border: 0.25rem solid var(--color-green-600);

}

@keyframes toast-in{
    from{
        opacity: 0;
        transform: translateY(1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes toast-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}